### Decision Tree Regressor
#### Problem Statement: Build a model that predicts the Power Engery generated by the powerplant by taking Atmospheric pressure,temperate, vaccum and humidity into consideration
##### Step1: Data Gathering

In [1]:
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
import pandas as pd
path=r'https://raw.githubusercontent.com/sindhura-nk/Datasets/refs/heads/main/PowerPlant.csv'
df= pd.read_csv(path)
df.head()

      AT      V       AP     RH      PE
0   8.34  40.77  1010.84  90.01  480.48
1  23.64  58.49  1011.40  74.20  445.75
2  29.74  56.90  1007.15  41.91  438.76
3  19.07  49.69  1007.22  76.79  453.09
4  11.80  40.66  1017.13  97.20  464.43

### Perform data quality checks

In [3]:
df.shape

(9568, 5)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9568 entries, 0 to 9567
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AT      9568 non-null   float64
 1   V       9568 non-null   float64
 2   AP      9568 non-null   float64
 3   RH      9568 non-null   float64
 4   PE      9568 non-null   float64
dtypes: float64(5)
memory usage: 373.9 KB

In [5]:
df.columns

Index(['AT', 'V', 'AP', 'RH', 'PE'], dtype='object')

* AT: Atmospheric Temperature
* V : Vaccum
* AP: Atmospheric Pressure
* RH: Relative Humidity
* PE: Power Energy

In [6]:
# check for duplicated information
df.duplicated().sum()

np.int64(41)

In [7]:
# drop the duplciates
df=df.drop_duplicates()

In [8]:
df.isna().sum()

AT    0
V     0
AP    0
RH    0
PE    0
dtype: int64

#### Separate X and Y features
* X: All the features except PE
* Y: PE - power energy

In [9]:
X=df.drop(colums=['PE'])
Y =df[['PE']]

TypeError: DataFrame.drop() got an unexpected keyword argument 'colums'. Did you mean 'columns'?